body {
  width: 95%;
  margin: 2% auto;
  font-size: 14px;
  line-height: 1.4em;
  font-family: Georgia, serif;
  color: #333; }

@media screen and (min-width: 600px) {
  body {
    font-size: 18px; } }

@media screen and (min-width: 910px) {
  body {
    width: 900px; } }

::selection {
  background: #D6EDFF; }

p {
  margin: 1em auto; }

ol, ul {
  margin: 0 auto; }

dl {
  margin: 0 auto; }

.title {
  text-align: center;
  margin: 0.8em auto;
  color: black; }

.subtitle {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.4;
  font-weight: bold;
  margin: 1em auto; }

.abstract {
  margin: auto;
  width: 80%;
  font-style: italic; }

.abstract p:last-of-type:before {
  content: "    ";
  white-space: pre; }

.status {
  font-size: 90%;
  margin: 2em auto; }

[class^="section-number-"] {
  margin-right: .5em; }

[id^="orgheadline"] {
  clear: both; }

#footnotes {
  font-size: 90%; }

.footpara {
  display: inline;
  margin: .2em auto; }

.footdef {
  margin-bottom: 1em; }

.footdef sup {
  padding-right: .5em; }

a {
  color: #527d9a;
  text-decoration: none; }

a:hover {
  color: #003355;
  border-bottom: 1px dotted; }

figure {
  padding: 0px;
  margin: 1em auto;
  text-align: center; }

img {
  max-width: 100%;
  vertical-align: middle; }

.MathJax_Display {
  margin: 0 !important;
  width: 90% !important; }

h1, h2, h3, h4, h5, h6 {
  color: #A5573E;
  line-height: 1em;
  font-family: Helvetica, sans-serif; }

h1, h2, h3 {
  line-height: 1.4em; }

h4, h5, h6 {
  font-size: 1em; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.3em; }
  h1, h2, h3 {
    line-height: 1.4em; }
  h4, h5, h6 {
    font-size: 1.1em; } }

dt {
  font-weight: bold; }

/* table */
table {
  margin: 1em auto;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse; }

thead {
  border-bottom: 2px solid; }

table td + td, table th + th {
  border-left: 1px solid gray; }

table tr {
  border-top: 1px solid lightgray; }

td, th {
  padding: 0.3em 0.6em;
  vertical-align: middle; }

caption.t-above {
  caption-side: top; }

caption.t-bottom {
  caption-side: bottom; }

caption {
  margin-bottom: 0.3em; }

figcaption {
  margin-top: 0.3em; }

th.org-right {
  text-align: center; }

th.org-left {
  text-align: center; }

th.org-center {
  text-align: center; }

td.org-right {
  text-align: right; }

td.org-left {
  text-align: left; }

td.org-center {
  text-align: center; }

blockquote {
  margin: 1em 2em;
  padding-left: 1em;
  border-left: 3px solid #ccc; }

kbd {
  background-color: #f7f7f7;
  font-size: 80%;
  margin: 0 .1em;
  padding: .1em .6em; }

.todo {
  background-color: red;
  color: white;
  padding: .1em 0.3em;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 80%;
  font-family: Lucida Console, monospace;
  line-height: 1; }

.done {
  background-color: green;
  color: white;
  padding: .1em 0.3em;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 80%;
  font-family: Lucida Console, monospace;
  line-height: 1; }

.priority {
  color: orange;
  font-family: Lucida Console, monospace; }

/* Because tag span is set to float.  This is more like a hacking.  Maybe we
   need a cleaner solution. */
#table-of-contents li {
  clear: both; }

.tag {
  font-family: Lucida Console, monospace;
  font-size: 0.7em;
  font-weight: normal; }

.tag span {
  padding: 0.3em 0.3em;
  float: right;
  margin-right: .5em;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-clip: padding-box;
  color: #333;
  background-color: #eee;
  line-height: 1; }

.timestamp {
  color: #bebebe;
  font-size: 90%; }

.timestamp-kwd {
  color: #5f9ea0; }

.org-right {
  margin-left: auto;
  margin-right: 0px;
  text-align: right; }

.org-left {
  margin-left: 0px;
  margin-right: auto;
  text-align: left; }

.org-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee; }

.underline {
  text-decoration: underline; }

#postamble p, #preamble p {
  font-size: 90%;
  margin: .2em; }

p.verse {
  margin-left: 3%; }

:not(pre) > code {
  padding: 2px 5px;
  margin: auto 1px;
  border: 1px solid #DDD;
  border-radius: 3px;
  background-clip: padding-box;
  color: #333;
  font-size: 80%; }

.org-src-container {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  font-family: Lucida Console, monospace;
  font-size: 80%;
  margin: 1em auto;
  padding: 0.01em 0.05em;
  position: relative; }

.org-src-container > pre {
  overflow: auto; }

.org-src-container > pre:before {
  display: block;
  position: absolute;
  background-color: #b3b3b3;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  border-bottom-left-radius: 8px;
  border: 0;
  color: white;
  font-size: 80%; }

/* from http://demo.thi.ng/org-spec/ */
.org-src-container > pre.src-sh:before {
  content: 'sh'; }

.org-src-container > pre.src-bash:before {
  content: 'bash'; }

.org-src-container > pre.src-emacs-lisp:before {
  content: 'Emacs Lisp'; }

.org-src-container > pre.src-R:before {
  content: 'R'; }

.org-src-container > pre.src-org:before {
  content: 'Org'; }

.org-src-container > pre.src-cpp:before {
  content: 'C++'; }

.org-src-container > pre.src-c:before {
  content: 'C'; }

.org-src-container > pre.src-html:before {
  content: 'HTML'; }

.org-src-container > pre.src-js:before {
  content: 'Javascript'; }

.org-src-container > pre.src-javascript:before {
  content: 'Javascript'; }

.org-src-container > pre.src-abc:before {
  content: 'ABC'; }

.org-src-container > pre.src-asymptote:before {
  content: 'Asymptote'; }

.org-src-container > pre.src-awk:before {
  content: 'Awk'; }

.org-src-container > pre.src-C:before {
  content: 'C'; }

.org-src-container > pre.src-calc:before {
  content: 'Calc'; }

.org-src-container > pre.src-clojure:before {
  content: 'Clojure'; }

.org-src-container > pre.src-comint:before {
  content: 'comint'; }

.org-src-container > pre.src-css:before {
  content: 'CSS'; }

.org-src-container > pre.src-D:before {
  content: 'D'; }

.org-src-container > pre.src-ditaa:before {
  content: 'Ditaa'; }

.org-src-container > pre.src-dot:before {
  content: 'Dot'; }

.org-src-container > pre.src-ebnf:before {
  content: 'ebnf'; }

.org-src-container > pre.src-forth:before {
  content: 'Forth'; }

.org-src-container > pre.src-F90:before {
  content: 'Fortran'; }

.org-src-container > pre.src-gnuplot:before {
  content: 'Gnuplot'; }

.org-src-container > pre.src-haskell:before {
  content: 'Haskell'; }

.org-src-container > pre.src-io:before {
  content: 'Io'; }

.org-src-container > pre.src-java:before {
  content: 'Java'; }

.org-src-container > pre.src-latex:before {
  content: 'LaTeX'; }

.org-src-container > pre.src-ledger:before {
  content: 'Ledger'; }

.org-src-container > pre.src-ly:before {
  content: 'Lilypond'; }

.org-src-container > pre.src-lisp:before {
  content: 'Lisp'; }

.org-src-container > pre.src-makefile:before {
  content: 'Make'; }

.org-src-container > pre.src-matlab:before {
  content: 'Matlab'; }

.org-src-container > pre.src-max:before {
  content: 'Maxima'; }

.org-src-container > pre.src-mscgen:before {
  content: 'Mscgen'; }

.org-src-container > pre.src-Caml:before {
  content: 'Objective'; }

.org-src-container > pre.src-octave:before {
  content: 'Octave'; }

.org-src-container > pre.src-org:before {
  content: 'Org'; }

.org-src-container > pre.src-perl:before {
  content: 'Perl'; }

.org-src-container > pre.src-picolisp:before {
  content: 'Picolisp'; }

.org-src-container > pre.src-plantuml:before {
  content: 'PlantUML'; }

.org-src-container > pre.src-python:before {
  content: 'Python'; }

.org-src-container > pre.src-ruby:before {
  content: 'Ruby'; }

.org-src-container > pre.src-sass:before {
  content: 'Sass'; }

.org-src-container > pre.src-scala:before {
  content: 'Scala'; }

.org-src-container > pre.src-scheme:before {
  content: 'Scheme'; }

.org-src-container > pre.src-screen:before {
  content: 'Screen'; }

.org-src-container > pre.src-sed:before {
  content: 'Sed'; }

.org-src-container > pre.src-shell:before {
  content: 'shell'; }

.org-src-container > pre.src-shen:before {
  content: 'Shen'; }

.org-src-container > pre.src-sql:before {
  content: 'SQL'; }

.org-src-container > pre.src-sqlite:before {
  content: 'SQLite'; }

.org-src-container > pre.src-stan:before {
  content: 'Stan'; }

.org-src-container > pre.src-vala:before {
  content: 'Vala'; }

.org-src-container > pre.src-axiom:before {
  content: 'Axiom'; }

.org-src-container > pre.src-browser:before {
  content: 'HTML'; }

.org-src-container > pre.src-cypher:before {
  content: 'Neo4j'; }

.org-src-container > pre.src-elixir:before {
  content: 'Elixir'; }

.org-src-container > pre.src-request:before {
  content: 'http'; }

.org-src-container > pre.src-ipython:before {
  content: 'iPython'; }

.org-src-container > pre.src-kotlin:before {
  content: 'Kotlin'; }

.org-src-container > pre.src-Flavored Erlang lfe:before {
  content: 'Lisp'; }

.org-src-container > pre.src-mongo:before {
  content: 'MongoDB'; }

.org-src-container > pre.src-prolog:before {
  content: 'Prolog'; }

.org-src-container > pre.src-rec:before {
  content: 'rec'; }

.org-src-container > pre.src-ML sml:before {
  content: 'Standard'; }

.org-src-container > pre.src-Translate translate:before {
  content: 'Google'; }

.org-src-container > pre.src-typescript:before {
  content: 'Typescript'; }

.org-src-container > pre.src-rust:before {
  content: 'Rust'; }

.inlinetask {
  background: #ffffcc;
  border: 2px solid gray;
  margin: 10px;
  padding: 10px; }

#org-div-home-and-up {
  font-size: 70%;
  text-align: right;
  white-space: nowrap; }

.linenr {
  font-size: 90%; }

.code-highlighted {
  background-color: #ffff00; }

#bibliography {
  font-size: 90%; }

#bibliography table {
  width: 100%; }

.creator {
  display: block; }

@media screen and (min-width: 600px) {
  .creator {
    display: inline;
    float: right; } }

@media screen and (min-width: 600px) {
  nav {
    background-color: white;
    border-radius: 20px 5px 20px 5px;
    border: 2px solid gray;
    padding: 0 10px;
    position: fixed;
    left: 0;
    top: 0;
    text-align: left; }
  nav h2 {
    font-size: var(--h3);
    margin: 0; }
  nav ul {
    display: none; }
  nav:hover ul {
    display: block; }
  nav ul li {
    display: block; }
  nav ul {
    text-align: var(--nav);
    padding: 0; }
  nav ul li ul {
    padding: 0 0 0 2em; } }
